.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #213459 !important;
}

.MuiBottomNavigationAction-label {
    font-family: 'Assistant', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}